/*
 *这是单独为hello mui准备的个性化css，可以覆盖标准mui的css定义；
 * 在实际项目开发时，建议为App单独写一个css文件，从而实现项目的自定义皮肤功能；
 * 
 * */
.mui-plus.mui-android header.mui-bar{
	display: none;
}
.mui-plus.mui-android .mui-bar-nav~.mui-content{
	padding: 0;
}

/*hm开头的表示仅为 Hello MUI示例定义*/
.hm-description{
	margin: .5em 0;
}

.hm-description>li {
	font-size: 14px;
	color: #8f8f94;
}


/*下面是这里自定义的style 需放在mui.min.css引用之后），这样就可以覆盖mui默认的背景色定义 http://ask.dcloud.net.cn/article/87*/  
.mui-bar{
background-color: white;
}
/*注意导航栏色变了 页面颜色没有改变*/

/*tab被激活之后的颜色 原始#007aff   airq#6699cc 深紫色#666699 紫灰色#999999 */
.mui-bar-tab .mui-tab-item.mui-active
{
    color: mediumpurple ;  
}